@import 'vars.css';

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin: 0; /* Remove default margin */
    background: var(--color-primary);
}
  
#grid {
    display: grid;
    width: 600px;
    height: 600px;
    border: 2px solid black;
}

.cell {
    border: .5px solid #ddd; /* Light grid lines */
}
  


  .content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }