@import 'vars.css';

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin: 0; /* Remove default margin */
    background: var(--color-primary);
}
  
#grid {
    display: grid;
    width: 600px;
    height: 600px;
    border: 2px solid black;
}

.cell {
    border: .5px solid #ddd; /* Light grid lines */
}
  

.bar {
    padding: 10px;
    margin: 0px 10px;
    height: 100%;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-text);
}

.bar div{
    margin: 10px 0px;
}

.content {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.size {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#lighten-btn {
    padding: 10px 20px;
    border: 2px solid #333;
    border-radius: 5px;
    background-color: var(--color-secondary);
    color: #333;
    cursor: pointer;
}

/* Style for when button is toggled/active */
#lighten-btn.active {
    background-color: var(--color-third);
    color: white;
    border-color: #333;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

#shade-btn {
    padding: 10px 20px;
    border: 2px solid #333;
    border-radius: 5px;
    background-color: var(--color-secondary);
    color: #333;
    cursor: pointer;
}

#shade-btn.active {
    background-color: var(--color-third);
    color: white;
    border-color: #333;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);  
}

#grid-btn {
    padding: 10px 20px;
    border: 2px solid #333;
    border-radius: 5px;
    background-color: var(--color-secondary);
    color: #333;
    cursor: pointer;  
}

#grid-btn.active {
    background-color: var(--color-third);
    color: white;
    border-color: #333;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);  
}

#reset-btn {
    padding: 10px 20px;
    border: 2px solid #333;
    border-radius: 5px;
    background-color: var(--color-secondary);
    color: #333;
    cursor: pointer;   
}